---
import Icon from "@components/common/Icon.astro";
import ArchivePanel from "@components/controls/ArchivePanel.svelte";
import ArchiveHeatmap from "@components/widget/ArchiveHeatmap.astro";
import TerrariumModel from "@components/widget/TerrariumModel.astro";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getSortedPostsList } from "@/utils/content-utils";

const sortedPostsList = await getSortedPostsList();
const title = i18n(I18nKey.archive);
---

<MainGridLayout title={title}>
  <div class="flex w-full rounded-(--radius-large) overflow-hidden relative min-h-32">
    <div class="card-base z-10 px-9 py-6 relative w-full">
      <ArchiveHeatmap posts={sortedPostsList} />
      <div class="mb-8">
        <div class="flex items-center gap-3 mb-3">
          <Icon name="material-symbols:schedule-outline-rounded" class="text-[1.875rem]" />
          <div class="text-3xl font-bold text-neutral-900 dark:text-neutral-100">
            {title}
          </div>
        </div>
      </div>
      <TerrariumModel client:visible />
      <ArchivePanel sortedPosts={sortedPostsList} client:load />
    </div>
  </div>
</MainGridLayout>